button {
    background-color: rgba(255, 255, 255, 0.12);
    color: #FFF;
    font-size: 16px;
    border-width: 0;
    border-radius: 12px;
    height: 47px;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
}