.bill-viewer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 384px;
    border-radius: 12px;
    border: 0.25px solid rgba(253, 247, 247, 0.21);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.02) 100%);
    margin: 35px 0;
    padding-top: 20px;
}

.bill-viewer-image {
    width: 85%;
    min-height: 240px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 12px;
}

.bill-viewer-input-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 85%;
    gap: 10px;
}

.bill-viewer-inputs {
    width: 100%;
    /* max-width: 150px; */
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
    color: rgba(255, 255, 255, 0.10);
}

.icon-label-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}