.breadcrumb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.breadcrumb {
    width: 180px;
    height: 47px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px; 
}

.breadcrumb.selected {
    background: rgba(255, 255, 255, 0.19);
    color: #FFF;
}

.breadcrumb.unselected {
    background: #080D1B;
    color: rgba(255, 255, 255, 0.31);
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}
